body, html{
  margin:0;
  padding:0;
  background-color: #EEE;
}

canvas{
  max-height:95vh;
  max-width: 95vw;
  margin:0 auto;
  display: block
}

.testbox{
  height:100px;
  width:100px;
  display: inline-block;
  background-color: saddlebrown;

}

movepiece{
  position: relative;
  border: 1px solid #333;
  background-color: mintcream;
  cursor: pointer;
  padding:0;
  display:inline-block;
  top:0;
  left:0;
  min-width: 100px;
  min-height:19px; 
  float:left;
  margin: 4px;
}

.hide-toggle{
  position:absolute;
  right:2px;
  top: 2px;
  height:15px;
  width:15px;
}

.hidden{
  max-height: calc(1em + 3px);
  overflow: hidden;
}

world-inspector img {
  max-height: 50px;
  max-width: 50px;
}

world-inspector .flex {
  display: flex;
  padding: 2px;
  margin-bottom:2px;
  border:1px black solid;
  clear:both;
  max-width: 180px;
  max-height: 300px;
  overflow: auto;
}

world-inspector input{
  max-width: 100%;
}

world-inspector .selected{
  background-color: saddlebrown;
}

.flex-3{
  flex:2;
}

.flex-1{
  flex:1;
}

world-inspector h4{
  margin: 2px;
  text-align: center;
}






